<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.glassjournalism.glassgenius" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_glass" >
        <activity
            android:name="io.glassjournalism.glassgenius.MainActivity"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <service
            android:name="io.glassjournalism.glassgenius.TransientAudioService"
            android:enabled="true"
            android:exported="false" />

        <meta-data android:name="com.crashlytics.ApiKey" android:value="235f6c97bf96cc5d2bcc55cad60042a09e9c68fb"/>
    </application>

</manifest>
